
h1 {
color:rgb(66, 84, 15);
text-transform: uppercase;
font-weight:700;
background-color: rgb(254, 238, 163);
text-align: center;
}

h2 {
    color:rgb(66, 84, 15);
    font-weight: 700;
}

body {
background-color:rgb(154, 207, 241);


}

div.picture{
text-align: center;
}